*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  background: #fafafa;
  color: #86869c;
  line-height: 1.63;
}

h1,
h2 {
  color: #28283e;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

.container {
  max-width: 54rem;
  padding: 0 2.3rem;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 1em;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  cursor: pointer;
}

.btn--primary {
  background: #4d96a8;
  padding: 1em 2.5em;
}

.btn--primary:hover {
  background: #72c1d5;
}

.btn--secondary {
  background: #845eb0;
  padding: 1em 1.81em;
}

.btn--secondary:hover {
  background: #b28cde;
}

.progress-step {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 5.6rem;
  height: 5.6rem;
  color: #86869c;
  font-weight: 900;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  margin-top: 8.4rem;
  margin-left: auto;
  margin-right: auto;
}

.progress-step::before {
  content: '';
  position: absolute;
  top: calc(-150% - 4px);
  left: 50%;
  height: 8.4rem;
  width: 1px;
  background: #d9d9d9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 11.9rem;
  height: auto;
  margin-top: 4.8rem;
}

.hero {
  padding-top: 5.4rem;
  padding-bottom: 6.4rem;
  overflow: hidden;
}

.hero__image--mobile {
  display: block;
  position: relative;
  left: 50%;
  margin-bottom: 4.8rem;
  width: 110.4%;
  max-width: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__image--desktop {
  display: none;
}

.hero__content {
  text-align: center;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
}

.hero__heading {
  width: 80%;
  max-width: 26.5rem;
  margin: 0 auto;
  margin-bottom: 2.4rem;
  font-size: 4rem;
  font-weight: 900;
}

.hero__description {
  margin-bottom: 3.2rem;
}

.hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__actions .btn--primary {
  margin-bottom: 1.6rem;
}

.hero__actions .btn--primary > span {
  color: #90e4f9;
}

.feature {
  padding-bottom: 6.4rem;
}

.feature__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.4rem 2.5rem;
  margin: 6.4rem 0;
}

.feature__image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  max-width: 50%;
  overflow: hidden;
}

.feature__image-container img {
  border-radius: 1rem;
}

.feature__content {
  text-align: center;
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
}

.feature__title {
  font-size: 1.6rem;
  font-weight: 900;
  color: #4d96a8;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.feature__heading {
  font-size: 3.2rem;
  font-weight: 900;
  width: 90%;
  margin: 0 auto;
}

.feature__description {
  margin-top: 3.2rem;
}

.footer {
  position: relative;
  margin-top: 11.2rem;
}

.footer .progress-step {
  position: absolute;
  top: -11.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fafafa;
  z-index: 100;
}

.footer__bg {
  position: relative;
  padding-top: 9.2rem;
  padding-bottom: 7.2rem;
  background: rgba(77, 150, 168, 0.8);
}

.footer__bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/mobile/image-footer.jpg") no-repeat center top/cover;
  z-index: -1;
}

.footer__content {
  text-align: center;
  width: 100%;
  max-width: 57.3rem;
  margin: 0 auto;
}

.footer__heading {
  font-size: 3.2rem;
  font-weight: 900;
  width: 90%;
  margin: 0 auto;
  max-width: 32rem;
  color: #fff;
}

.footer__description {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.footer .btn--secondary span {
  color: #d9b8ff;
}

/* Media Queries */
@media screen and (min-width: 48em) {
  .container {
    max-width: 69rem;
    padding: 0;
  }
  .hero {
    padding-top: 6.4rem;
    padding-bottom: 8rem;
  }
  .hero__image--mobile {
    max-width: 82rem;
    margin-bottom: 7.2rem;
  }
  .hero__content {
    max-width: 45.7rem;
  }
  .hero__heading {
    font-size: 4.8rem;
    max-width: 32rem;
  }
  .hero__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__actions .btn--primary {
    margin-bottom: 0;
    margin-right: 1.6rem;
  }
  .feature {
    padding-bottom: 8rem;
  }
  .feature__images {
    gap: 1.1rem;
    margin-top: 6.7rem;
    margin-bottom: 4.8rem;
  }
  .feature__image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    max-width: 25%;
  }
  .feature__content {
    max-width: 57.3rem;
  }
  .feature__title {
    margin-bottom: 1.6rem;
  }
  .feature__heading {
    font-size: 4rem;
    max-width: 44.5rem;
  }
  .footer {
    position: relative;
    margin-top: 11.2rem;
  }
  .footer .progress-step {
    position: absolute;
    top: -11.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #fafafa;
    z-index: 100;
  }
  .footer__bg {
    position: relative;
    padding-top: 9.2rem;
    padding-bottom: 7.2rem;
    background: rgba(77, 150, 168, 0.8);
  }
  .footer__bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../assets/tablet/image-footer.jpg") no-repeat center top/cover;
    z-index: -1;
  }
  .footer__content {
    text-align: center;
    width: 100%;
    max-width: 57.3rem;
    margin: 0 auto;
  }
  .footer__heading {
    font-size: 4rem;
    max-width: 45.7rem;
  }
  .footer__description {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 3.2rem;
    margin-bottom: 4rem;
  }
  .footer .btn--secondary span {
    color: #d9b8ff;
  }
}

@media screen and (min-width: 62em) {
  .container {
    max-width: 96rem;
  }
  .header__logo {
    margin-top: 8rem;
  }
  .hero {
    position: relative;
    overflow: hidden;
    padding-top: 4.7rem;
    padding-bottom: 11rem;
    margin-top: 6.1rem;
  }
  .hero__image--mobile {
    display: none;
  }
  .hero__image--desktop {
    display: block;
    position: absolute;
    width: 25%;
    max-width: 39.4rem;
  }
  .hero__image--left {
    top: 30%;
    left: -2.3%;
    right: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .hero__image--right {
    bottom: 62.5%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    right: -2.3%;
    left: auto;
  }
  .hero__heading {
    font-size: 6.4rem;
    margin-bottom: 3.4rem;
    width: 100%;
    max-width: 44.5rem;
  }
  .feature {
    padding-bottom: 7.2rem;
  }
  .feature__images {
    margin-top: 6.4rem;
    margin-bottom: 8rem;
    gap: 3rem;
  }
  .feature__description {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__bg {
    padding: 11.5rem 0;
  }
  .footer__bg::before {
    background: url("../assets/desktop/image-footer.jpg") no-repeat center top/cover;
  }
  .footer__content {
    text-align: left;
    max-width: none;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__heading, .footer__description, .footer__actions {
    margin: 0;
    max-width: 35rem;
  }
  .footer .btn--secondary {
    padding: 1.6rem 4rem;
  }
}

@media screen and (min-width: 75em) {
  .hero__image--desktop {
    width: 30%;
  }
  .hero__image--left {
    top: 4%;
    -webkit-transform: none;
            transform: none;
  }
  .hero__image--right {
    bottom: 54%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@media screen and (min-width: 85em) {
  .container {
    max-width: 111rem;
  }
  .hero {
    max-width: 144rem;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  .footer__bg {
    max-width: 192rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 22.5em) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 20em) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */